<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Archivey.Properties.Settings.archiveydbConnectionString"
            connectionString="Data Source=archivey.database.windows.net;Initial Catalog=archiveydb;User ID=fusspawn;Password=Trasher03!;Connect Timeout=60"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>